$dark-grey: rgba(68, 68, 68, 1);
$basic-grey: rgba(242, 242, 242, 1);
$basic-green: rgba(104, 183, 56, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$input-border: rgba(231, 231, 231, 1);
$input-hover: rgba(205, 205, 205, 1);
$input-error: rgba(255, 130, 130, 1);
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1440px;
