$dark-grey: rgba(68, 68, 68, 1);
$basic-grey: rgba(242, 242, 242, 1);
$basic-green: rgba(104, 183, 56, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1340px;
