.advantages {
  padding-top: 20px;
  padding-bottom: 49px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 26px;
  }
}

.advantages__title {
  line-height: 40px;
  margin-bottom: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    width: 247px;

    &::before {
    width: 80px;
    height: 80px;
    }
  }
}

.advantages__descr {
  color: $dark-grey;
}
