.advantages {
  padding-top: 20px;
  padding-bottom: 48px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 48px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 26px;
  }
}

.advantages__title {
  line-height: 40px;
  margin-bottom: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__item {
  display: flex;

  @media (min-width: $tablet-width) {
    flex: 0 1 50%;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 25%;
  }
}

// .advantages__item {
//   position: relative;
//   padding-left: 80px;

//   &::before {
//     content: "";
//     position: absolute;
//     width: 60px;
//     height: 60px;
//     top: 0;
//     left: 0;
//     background-color: $basic-green;
//   }

//   @media (min-width: $tablet-width) {
//     width: 247px;

//     &::before {
//       width: 80px;
//       height: 80px;
//     }
//   }
// }

.advantages__item-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.advantages__descr {
  color: $dark-grey;
  width: 244px;
}
