.catalog {
  background-color: $white;
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__title {
  padding-top: 27px;
  padding-bottom: 41px;
  border-top: 1px solid rgba(235, 235, 235, 1);
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  margin-bottom: 8px;
  color: $black;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 324px;
    flex-direction: column;
    align-items: center;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__link {
  align-self: center;
  flex: 1 0 50%;

  @media (min-width: $tablet-width) {
    flex: 0;
  }
}

.card__link-image {
  margin: 0 auto;
}

.cards__item {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 0;
    border: none;
  }
}

.product__composition {
  flex: 1 0 50%;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex: 0;
    margin-bottom: 33px;
  }
}

.product__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
  margin-bottom: 18px;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    margin: 0 auto 21px;
    text-align: center;
  }
}

.product-descr {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 247px;
  }
}

.product-descr__value {
  display: flex;
  justify-content: space-between;
}

.product-descr__value p {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

.product__item-link {
  display: block;
  background-color: $basic-green;
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  width: 280px;
  // flex: 1 0 100%;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.card-show {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card-show__link--more {
  margin-bottom: 22px;
  margin-top: 24px;
  padding-bottom: 22px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: rgba(211, 211, 211, 1);
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(-50%) rotate(90deg);
    width: 30px;
    height: 2px;
    background-color: rgba(211, 211, 211, 1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      width: 60px;
    }
  }
}



.card-show__text--more {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.card-show__text--small {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.card-show__link {
  display: block;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;

  &:hover {
    background-color: rgba(235, 235, 235, 1);
  }

  &:active {
    opacity: .3;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
