.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--inner {
  background-color: rgba(242, 242, 242, 1);

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 20px;
  width: 320px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 56px 68px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 565px;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    padding: 56px 80px;
    box-sizing: border-box;
    left: 112px;
    top: 102px;
    background-color: $white;
  }
}

.contacts__cooperation {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 180px;
  }
}

.contacts__address {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  border: none;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__point {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
  }
}
