.example {
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.example__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 193px;
  }
}

.example__header-wrapper {
  padding: 26px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 44px 0 0;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-top: 44px;
    background-color: transparent;
  }
}

.example__title {
  margin-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  color: $dark-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.price__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    min-height: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.item-example {
  text-align: center;
  min-width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.item-example__value {
  position: relative;
  padding: 15px 10px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: $black;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 10px;
  }
}

.item-example__descr {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin: 0 10px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  background-color: rgba(234, 234, 234, 1);
  transform: translateY(-8px);

  @media (min-width: $tablet-width) {
    background-color: $white;
    width: 128px;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(234, 234, 234, 1);
  }
}

.example__total {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
    width: 192px;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    text-align: left;
  }
}

.example__total-value {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 59px;
  }
}

.examle__slider-wrapper {
  position: relative;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px;

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      top: 168px;
      left: 50%;
      background-color: rgba(234, 234, 234, 1);
      height: 462px;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      top: 168px;
      right: 50%;
      background-color: rgba(234, 234, 234, 1);
      height: 462px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.examle__image-before,
.examle__image-after,
.examle__image-before-after {
  margin: 0 auto 16px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 25px;
    width: 592px;
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 31px;
  }
}

.examle__image-after,
.examle__image-before-after {
  display: none;
}

.examle__image-before {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.examle__image-before-after {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.example__buttons {
  display: flex;
  justify-content: space-between;
  width: 210px;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 572px;
  }
}

// .buttons__scale {
//   position: relative;
//   width: 86px;
//   height: 14px;
//   background-color: $white;
//   border: 1px solid $input-hover;
//   border-radius: 6px;
//   margin: 0 10px;

//   &::before {
//     position: absolute;
//     content: "";
//     top: 50%;
//     left: 6px;
//     transform: translateY(-50%);
//     width: 36px;
//     height: 6px;
//     border-radius: 6px;
//     background-color: $basic-green;
//   }

//   @media (min-width: $tablet-width) {
//     width: 426px;
//     height: 6px;
//     background-color: rgba(220, 220, 220, 1);

//     &::before {
//       left: 50%;
//       width: 34px;
//       height: 34px;
//       border-radius: 50%;
//       background-color: $white;
//       border: 1px solid $input-hover;
//       transform: translate(-50%, -50%);
//     }

//     &::after {
//       position: absolute;
//       content: "";
//       width: 8px;
//       height: 8px;
//       background-color: $basic-green;
//       border-radius: 50%;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//     }

//     &:active {
//       &::before {
//         border: 1px solid $basic-green;
//       }
//     }
//   }
// }
.buttons__scale {
  width: 86px;

  @media (min-width: $tablet-width) {
    width: 426px;
  }
}

.example__slider {
  appearance: none;
  width: 100%;
  height: 14px;
  background-color: $white;
  border-radius: 6px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;

  @media (min-width: $tablet-width) {
    height: 6px;
    background: $input-hover;
  }
}

.example__slider:hover {
  opacity: 1;
}

.example__slider::-webkit-slider-thumb {
  appearance: none;
  width: 36px;
  height: 6px;
  border-radius: 6px;
  background: $basic-green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: url("../img/index/slider/slider-control.png") center;
    border: 1px solid $input-hover;
  }
}

.example__slider::-webkit-slider-thumb:active {
  border: 1px solid $basic-green;
}

.example__slider::-moz-range-thumb {
  appearance: none;
  width: 36px;
  height: 6px;
  border-radius: 6px;
  background: $basic-green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: url("../img/index/slider/slider-control.png") center;
    border: 1px solid $input-hover;
  }
}

.example__slider::-moz-range-thumb:active {
  border: 1px solid $basic-green;
}

.buttons__button {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-bottom: 1px dotted $dark-grey;
    background-color: transparent;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}
