.example {
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.example__inner {
  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 193px;
  }
}

.example__header-wrapper {
  padding: 26px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 44px 0;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-top: 44px;
  }
}

.example__title {
  margin-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  color: $dark-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.price__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    min-height: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.item-example {
  position: relative;
  text-align: center;
  padding: 14px 0 10px;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 5px;
  min-width: 124px;
  min-height: 70px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__item:not(:last-child) {
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.item-example__value {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.item-example__descr {
  position: absolute;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  margin: 8px 20px 20px;
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: $white;
    width: 118px;
  }
}

.example__total {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    text-align: left;
  }
}

.examle__slider-wrapper {
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.examle__image-before {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 25px;
  }
}

.example__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 572px;
    margin: 0 auto;
  }
}

.buttons__scale {
  position: relative;
  width: 86px;
  height: 14px;
  background-color: $white;
  border: 1px solid $input-hover;
  border-radius: 6px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    width: 36px;
    height: 6px;
    border-radius: 6px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: rgba(220, 220, 220, 1);

    &::before {
      left: 50%;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $white;
      border: 1px solid $input-hover;
      transform: translate(-50%, -50%);
    }

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.buttons__button {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
