.footer {
  background-color: rgba(242, 242, 242, 1);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 30px;
  }
}

.footer__logo {
  margin: 0 auto;
  padding: 38px 0 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.social__list {
  padding: 20px 0 22px;
  width: 130px;
  margin: 0 auto;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__link-icon {
  &:hover {
    path {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  padding: 28px 0 32px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: $dark-grey;

  &:hover {
    path {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-descr {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
