.form__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 70px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
  }
}

.page-main__title {
  color: $black;
  margin-bottom: 37px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    padding-top: 22px;
  }
}

.form__text {
  font-family: "Oswald Regular", sans-serif;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 43px;
  width: 240px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-bottom: 66px;
  }
}

.form__list-wrapper {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 71px;
  }
}

.form__list--info {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__list--weight {
  padding-bottom: 10px;
  padding-top: 27px;
  margin-top: 27px;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    border: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-top: 0;
    padding-top: 28px;
  }
}

.form__item {
  display: flex;
  align-items: center;

  &:not(:nth-last-child(1)) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    &:not(:nth-last-child(1)) {
      margin-bottom: 22px;
    }
  }
}

.form__item-radio {
  &:not(:nth-last-child(1)) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 27px;

    &:not(:nth-last-child(1)) {
      margin-bottom: 7px;
    }
  }
}

.form__item-checkbox {
  &:not(:nth-last-child(1)) {
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    &:not(:nth-last-child(1)) {
      margin-bottom: 28px;
    }
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 77px;
    align-items: start;
  }
}

.form__item--email,
.form__item--phone {
  flex: 50%;
  position: relative;
}

.form__input-image {
  position: absolute;
  right: 17px;
}

.form__label {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 12px;
  color: $dark-grey;
  flex-shrink: 0;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
}

.form__input-text {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  padding: 10px 40px 10px 18px;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px $input-border;

  &:hover {
    box-shadow: inset 0 0 0 1px $input-hover;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $dark-grey;

    ~.form__input-image {
      fill: $basic-green;
    }
  }

  &:invalid:not(:placeholder-shown) {
    box-shadow: inset 0 0 0 2px $input-error;

    ~.form__input-image {
      fill: $input-error;
    }
  }

  &:valid:not(:placeholder-shown) {
    box-shadow: inset 0 0 0 2px $dark-grey;

    ~.form__input-image {
      fill: $basic-green;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
  }
}

.form__label--checkbox,
.form__label--radio {
  padding-left: 45px;
  position: relative;
  display: block;
  padding-bottom: 12px;

  @media (min-width: 768px) {
    padding-left: 60px;
    padding-bottom: 16px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: -6px;
    padding: 8px;
    border: 1px solid rgba(205, 205, 205, 1);
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.form__label--radio {
  &::before {
    border-radius: 50%;
  }
}

.form__label--checkbox {
  &::before {
    padding: 0;
  }
}

.form__input-radio:checked ~ .form__label--radio::before {
  background-color: $basic-green;
  background-clip: content-box;
}

.form__input-checkbox:checked ~ .form__label--checkbox::before {
  background: url("../img/form/tick.svg") no-repeat center;
  background-size: 24px auto;
  background-clip: content-box;
}

.form__input-radio:hover ~ .form__label--radio::before,
.form__input-checkbox:hover ~ .form__label--checkbox::before {
  border-color: rgba(186, 186, 186, 1);
}

.form__input-radio:disabled ~ .form__label--radio,
.form__input-checkbox:disabled ~ .form__label--checkbox {
  opacity: 0.3;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--owner {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.form__legend--owner {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__legend--owner-comment {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form__fieldset--comment {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.form__legend--comment {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__textarea {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  width: 100%;
  min-height: 150px;
  padding: 12px;
  border: 1px solid $input-border;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 15px;
    min-height: 174px;
  }
}

.form__legend--additionally {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.form__list--additionally {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 26px;
  }
}

.form__fieldset-button {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;
  border: none;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 21px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 0 61px 0 0;
    font-size: 20px;
    padding: 12px 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__required {
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
