.header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 24px;
  }
}

.header__logo {
  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.header__logo-image {
  margin: 24px 0;
}

.main-nav {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 44px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: $white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

@media (max-width: $tablet-width) {
  .main-nav--closed .menu__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 44px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.menu__link {
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 24px;
  text-align: center;
  border-top: 1px solid rgba(230, 230, 230, 1);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 10px 0;

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.menu__link--current {
  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
  }
}

.menu__link--index {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}
