.nutrition__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.nutrition__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.nutrition-item {
  padding: 30px 20px 18px;
  position: relative;
  background-color: $basic-grey;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 24px;
    left: 22px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding: 76px 62px 56px 52px;

    &::before {
      width: 200px;
      height: 200px;
      top: 90px;
      left: auto;
      right: 62px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 100px;
      height: 100px;
      top: 39px;
      left: 52px;
    }
  }
}

.nutrition-item__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  margin-bottom: 28px;
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 72px;
    padding-left: 62px;
  }
}

.nutrition-item__title--thin {
  &::after {
    content: "";
    position: absolute;
    background: url("../../img/index/nutrition/cat-1.svg") no-repeat;
    top: 22px;
    left: 30px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 74px;
      left: auto;
      right: 84px;
      width: 140px;
      height: 194px;
      background-size: 140px 194px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 30px;
      left: 70px;
      right: auto;
      width: 70px;
      height: 98px;
      background-size: 70px 98px;
    }
  }
}

.nutrition-item__title--muscles {
  &::after {
    content: "";
    position: absolute;
    background: url("../../img/index/nutrition/cat-2.svg") no-repeat;
    top: 36px;
    left: 12px;
    width: 68px;
    height: 28px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 127px;
      left: auto;
      right: 44px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 66px;
      left: 30px;
      right: auto;
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
    }
  }
}

.nutrition-item__descr {
  color: $dark-grey;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 52px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.nutrition-item__link {
  position: relative;
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 18px;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../../img/index/icon-arrow.png");
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
