.program {
  position: relative;
  padding-top: 26px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-color: $basic-green;
    background-image: url("../../img/index/index-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../img/index/index-background-mobile@2x.jpg");
      }
    }

  @media (min-width: $tablet-width) {
    padding-left: 120px;
    margin-bottom: 76px;
    min-height: 810px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    min-height: 553px;
    margin-bottom: 82px;
  }
}

.program__title {
  color: $white;
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    color: $black;
    width: 508px;
    text-align: left;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.program__text {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.program__img {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: 40px;
    top: 235px;
    height: 610px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    left: 50%;
    top: 0px;
    transform: translateX(-30%);
  }
}

.program__link {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $basic-green;
  display: block;
  width: 100%;
  padding: 8px 0;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    // position: absolute;
    // top: 32%;
    // left: 30px;
    width: 244px;
    padding: 18px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
